<div class="EditCategorySection --hidden">
  <div class="EditCatMod">
    <h1 class="EditCatMod__title">Edit Product</h1>
    <form class="EditCatMod__form">
      <input
        type="text"
        name="editTitle"
        id="editTitle"
        placeholder="Edit Title"
      />
      <input
        type="text"
        name="editDescription"
        id="editDescription"
        placeholder="Edit Description"
      />

      <div class="EditCatMod__btns">
         <button class="cancelBtnEdit">Discard</button>
        <button class="submitBtnEdit">Submit</button>
      </div>
    </form>
  </div>
</div>
